.row1 {
  margin-top: 30px;
  margin-left: 20px;
  /* 申请后可获得以下权益：: */
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.17px;
}

.row2 {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  .free1, .free2 {
    display: flex;
    flex-direction: column;
  }

  .free1 {
    margin-right: 80px;
  }

  .text {
    margin-top: 20px;
    /* 免费DCI证书: */
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0.17px;
  }
}

.row3 {
  margin: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    /* 作品已申请版保 >: */
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #0037FF;
    letter-spacing: 0.17px;
    cursor: pointer;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    box-sizing: border-box;
    /* Rectangle 5 Copy: */
    background: #0037FF;
    border-radius: 100px;
    /* 马上去申请: */
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    user-select: none;
    cursor: pointer;
  }
}