.wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  background: red;
  overflow: hidden;

  .imgCropFront {
    border: 1px solid yellow;
    box-sizing: border-box;
    z-index: 1;
  }

  .imgArrBackground {
    position: absolute;
    display: flex;
    overflow: hidden;

    .imgItem {

    }
  }

}

